
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px); /
    padding: 20px;
    background: #000000;
}

/* Caixa do formulário */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}


.form-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}


.form-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}


.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 9px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}


.form-container textarea {
    resize: none;
    height: 80px;
}


.form-container button {
    width: 100%;
    padding: 14px;
    background: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background: #b71c1c;
}